<html>
    <head>
        <style>
                        
            body {
                font-family: 'Cisco';
            }

            /* Cisco font */
            @font-face {
                font-family: 'Cisco';
                src: url('../static/fonts/CiscoSansTTExtraLight.woff2') format('woff2') 
            }
            h2{
                color: #6FB73A;
            }
        </style>
    </head>

    <body> 
        {% block body %}
        <div class="container">
            <h2> Temperature and Humidity recent values </h2>


            <table class="table" >
                <thead>
                    <th></th>
                    <th scope="col">Sensor {{data['sensor1']}}</th>
                    <th scope="col">Last update: {{data['date']}}</th>
                    <th></th>
                </thead>
                <tbody style="text-align: center;">
                  <tr>
                    <th scope="row"><img src="static/images/temp.png" alt="Temperature"></th>
                    <td>                
                        <div class="card-columns">
                            <div class="card bg-light">
                                <div class="card-body text-center">
                                    <p class="card-text">
                                        <h3>Temperature</h3>
                                        {{data['temperature']}} °C
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <th scope="row"><img src="static/images/humidity.png" alt="Humidity"></th>
                    <td>
                        <div class="card-columns">
                            <div class="card bg-light">
                                <div class="card-body text-center">
                                   
                                    <p class="card-text">
                                        <h3>Humidity</h3>
                                        {{data['humidity']}}%
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
            <table class="table" >
                <thead>
                    <th></th>
                    <th scope="col">Sensor {{data['sensor2']}}</th>
                    <th scope="col">Last update: {{data['date2']}}</th>
                    <th></th>
                </thead>
                <tbody style="text-align: center;">
                  <tr>
                    <th scope="row"><img src="static/images/temp.png" alt="Temperature"></th>
                    <td>                
                        <div class="card-columns">
                            <div class="card bg-light">
                                <div class="card-body text-center">
                                    <p class="card-text">
                                        <h3>Temperature</h3>
                                        {{data['temperature2']}} °C
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <th scope="row"><img src="static/images/humidity.png" alt="Humidity"></th>
                    <td>
                        <div class="card-columns">
                            <div class="card bg-light">
                                <div class="card-body text-center">
                                   
                                    <p class="card-text">
                                        <h3>Humidity</h3>
                                        {{data['humidity2']}}%
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
                                        
            
          </div>
        {% endblock %}


        

    </body>
</html>